h1 {
  color: #e3aad6;
font-size: 100px;
font-family: courier;
position: central;
}
mySidenav {
    height: 100%;
    width: 20;
    position: fixed;
    background-color: black;
    padding-top: 60px;
    transition: 0.5s;
  }
