h1 {
  color: #d580ff;
font-size: 10px;
font-family: courier;
}
mySidenav {
    height: 100%;
    width: 20;
    position: fixed;
    background-color: black;
    padding-top: 60px;
    transition: 0.5s;
  }
